body{
	text-align:center;
}
div{
	border-style:solid;
}
#header{
	margin:10px auto 10px auto;
	border-width:2px;
	width:60%;
	height:30px;
}
#players{
	margin:10px auto 10px auto;
	border-width:2px;
	width:80%;
	height:120px;
}
#cardsContainer{
	margin:10px auto 10px auto;
	border-width:2px;
	height:500px;
	width:80%;
}
#actionButtons{
	height:40px;
	width:80%;
	border-width:2px;
	margin:10px auto 10px auto;
}
#p1p,#p2p,#p3p,#p4p,#p5p{
	height:100px;
	width:100px;
	margin:10px auto 10px auto;
	display:inline-block;
}
#p1c,#p2c,#p3c,#p4c,#p5c{
	height:400px;
	width:60px;
	margin:10px 25px 10px 25px;
	display:inline-block;
}
.card{
	height:60px;
	width:30px;
	margin:10px;
	display:inline-block;
}